@import "coin1.css";
@import "coin2.css";
@import "coin-3-bitcoin.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {

    -webkit-user-select: none;  /* Disable text selection */

    -webkit-touch-callout: none; /* Disable the iOS long-press action */

}

body {
    height: 100vh;
    /*height: -webkit-fill-available;*/
    height: var(--app-height);
}
